/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*==================== CSS VARIABLES ====================*/
:root {
  --header-height: 48px;

  /*========== COLORS ==========*/
  --primary-color-blue: #416bf7;
  --primary-color-white: #fff;
  --secondary-color: #595b60;
  --text-color-heading: #416bf7;
  --text-color-body-grey: #595b60;
  --text-color-body-white: #fff;
  --container-color: #fff;

  /*========== FONT ==========*/
  --body-font: 'Poppins', sans-serif;

  --statement-font-size: 80px;
  --heading-font-size: 40px;
  --body-font-size: 16px;
  --detail-font-size: 12px;

  --bold-font-weight: 700;
  --semi-bold-font-weight: 600;
  --medium-font-weight: 300;
}

/*==================== BASE ====================*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  font-weight: var(--medium-font-weight);
  background-color: var(--primary-color-white);
}

h1 {
  color: var(--primary-color-blue);
  font-weight: var(--bold-font-weight);
  font-size: 40px;
}

h2 {
  color: var(--secondary-color);
  font-weight: var(--semi-bold-font-weight);
  font-size: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
